body {
    font-family: Microsoft JhengHei, 微軟正黑體, sans-serif;
}

.navbar li {
    line-height: 50px;
    font-size: 16px;
    box-sizing: border-box;
}

.navbar span {
    color: #ff8a82;
    font-size: 30px;
    line-height: 50px;
}

.products-hander-rightcolor {
    color: #ff8a82;
    font-size: 18px;
    text-align: left;
    box-sizing: border-box
}

.products-tab-size {
    line-height: 30px;
    font-size: 14px;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;
    align-items: center;
    font-family: Microsoft JhengHei, 微軟正黑體, sans-serif;
}

.card-right-date-ym {
    font-size: 15px;
}

.card-right-date-d {
    font-size: 56px;
}

.card-right-middle-font {
    line-height: 24px;
    font-size: 16px;
    
}

.fontgray {
    color: #ccc;
    font-size: 14px;
}

.fontblack {
    color: #333;
    font-size: 16px;
}

.removedecoration {
    text-decoration: none;
}

.footeradcontext :first-child {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.footeradcontext :last-child {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}
.footer-title{
    background-color : #ff8a82;
}

.iconcolor{
    height: 30px;
    color: #666;
    font-size: 22.86px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #ff8a82;
    border-right: 1px solid #ff8a82;
}
.iconoclorpink{
    color: #ff8a82;
}
.fontpink{
    color : #ff8a82;
    font-size: 14px;
}

.colorblue{
      color: #5fd4df;
}
.borderpink{
        color: #ff7bbd;
        border-color: #ff7bbd;
}
.fontgrad{
    font-size: 14px;
      color: #666;
}
.carddatecolor{
     color: #888;
}
   

/* carousel */

.content {
    width:100%;
    height:200px;
}

.sliderlink a {
        font-size: 14px;
        color: #333;
        text-align: center;
        line-height: 1.43;
}

.sliderlink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderimg {
    border: 1px solid #FFF;
    display: block;
    width: 100%;
}

.slick-next:before {
     color: #ff7bbd;
     background-color: #FFF;
}

.slick-prev:before {
     color: #ff7bbd;
}

.box38 {
    width: 38px;
    height: 38px;
}
.colorwhite{
    color:white;
}